<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScheduleR" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ScheduleR;Integrated Security=True;" />
  </connectionStrings>
  <!--<appSettings>
    <add key="BaseUrls" value="http://+:12345/;http://+:80/ScheduleR/"/>
  </appSettings>-->
</configuration>